@import "./hero.scss";
$font-sm: 16px;
$font-md: 18px;
$font-lg: 20px;
$font-xl: 26px;
$font-xxl: 40px;
$orange: #ffa852;
$blue: #5271ff;
$lightblue: #5271f0;
$gray: #797979;

.font-sm {
  font-size: $font-sm;
}
.font-md {
  font-size: $font-md;
}
.font-lg {
  font-size: $font-lg;
}
.font-xl {
  font-size: $font-xl;
}
.font-xxl {
  font-size: $font-xxl;
}
.text-orange {
  color: $orange;
}
.text-blue {
  color: $blue;
}
.text-lightblue {
  color: $lightblue;
}
.text-gray {
  color: $gray;
}
